<div class="container">
    <div class="container-img">
        <img lightbox class="img-trio" src="../../../assets/img/trio_creacion.png" alt="Imagen de la creación"
            matTooltip="Ver imagen">
    </div>

    <div class="container-info" matTooltip="Informacion sobre la creación">
        <h2 class="title">La creación</h2>
        <p class="txt-info"> 
            El segundo en nacer fue Mew, el cual se cree que es el ancestro de los demás Pokémon pues en su ADN tiene el
            código genético de todos ellos, haciéndolo capaz de usar cualquier movimiento, por lo que este y Arceus son
            los únicos Pokémon que vieron todo el proceso de formación del cosmos. Nació después Dialga, que a su vez
            dio origen al tiempo, haciéndolo avanzar desde su nacimiento. Se dice que el tiempo avanza con cada uno de
            sus latidos, y que además él es capaz de controlar su flujo pudiendo viajar al pasado y al futuro a placer;
            y Palkia, que dio origen al espacio y las dimensiones, dándoles estabilidad con su respiración, se dice que
            si Dialga y Palkia se encuentran en los limites de sus dimensiones (es decir, la grieta espacio temporal) se
            desataría una batalla que destruiría el espacio tiempo. No se sabe si Arceus u otro Pokémon creó al mundo
            (es decir, al planeta Tierra), pero más tarde nació Giratina, para detener las batallas de Dialga y Palkia y
            protegería el espacio tiempo, por su aterrador aspecto se creyó que Giratina fue desterrado al Mundo
            Distorsión (un mundo opuesto al nuestro y cuyas leyes desafían el sentido común), donde observa el mundo en
            silencio a través
            de cualquier objeto que cause reflejos, como espejos, metales o agua.
            No se sabe con certeza si fue Dialga, Arceus o Palkia quienes crearon el Mundo Distorsión.
        </p>
    </div>
</div>