<div class="container">
  <div class="container-img">
    <img lightbox class="img-arc" src="../../../assets/img/arceus.png" alt="arceus dios pokemon"
      matTooltip="Ver imagen">
  </div>
  <div class="container-txt" matTooltip="Informacion sobre arceus">
    <h2 class="title">El origen</h2>
    <p class="txt-info">
      Su nombre proviene de las palabras "Ar", que al revés es Ra (dios del Sol y creador egipcio), y de Zeus (el dios
      del cielo y el trueno en la mitología griega),
      por lo que hace referencia a ser un dios, o bien un "dios creador"
      Si bien otro posible origen de su nombre podría ser Archeus, que en alquimia se refiere al aspecto más bajo y
      denso de un plano astral que preside el crecimiento
      y mantenimiento de todos los seres vivos, cosa que concordaría con su estatus de dios.
      Por su pronunciación (Ar-keus) podría hacer referencia a la palabra griega arkhé (ἀρχή),
      que significa principio u origen, o a arc, que significa superior en latín y arco en ingles (por el arco de su
      tronco),
      y su terminación a -Deus, palabra latina que quiere decir dios, ya que él es el supuesto creador del Mundo
      Pokémon.
    </p>
    <p class="txt-info">
      Cuenta una leyenda que un huevo habitó en la nada y al eclosionar este, nació Arceus, considerado el Pokémon
      creador o Pokémon alfa;
      con sus 1.000 brazos dio forma al mundo y creó al resto de los Pokémon.
      Mew, Dialga, Palkia, Giratina, Kyogre, Groudon, Rayquaza, Azelf, Mesprit, Uxie, Xerneas e Yveltal
    </p>
  </div>
</div>